<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ご本人情報の確認</title>

    <link rel="stylesheet" th:href="@{http://fonts.googleapis.com/css?family=Exo:900}"/>
    <link rel="stylesheet"
          th:href="@{https://cdn.jsdelivr.net/semantic-ui/2.2.6/semantic.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>

<nav th:insert="header.html :: header"></nav>

<div class="full height image">
    <div class="ui main container">
        <div class="ui information container">
            <div class="acceptance-icon" style="border:solid 3px #4B610B;" th:if="${insOrder.insuranceType.equals('treat')}">
                <img src="/img/icon_treat.png">
            </div>
            <div class="acceptance-icon" style="border:solid 3px #B40404;"
                 th:if="${insOrder.insuranceType.equals('treatLady')}">
                <img src="/img/icon_treatLady.png">
            </div>
            <div class="acceptance-icon" style="border:solid 3px #0174DF;" th:if="${insOrder.insuranceType.equals('future')}">
                <img src="/img/icon_future.png">
            </div>
            <div class="ui middle center aligned grid ">
                <div class="user-block">
                    <h1 class="ui aligned header teal">お申込み情報</h1>

                    <form class="ui form" method="post" action="/action/order/inputJob">

                        <div class="ui horizontal divider">ご本人について</div>

                        <table class="ui celled table">
                            <tbody>
                            <tr>
                                <td>
                                    <label>お名前（漢字）</label>
                                </td>
                                <td>
                                    <p th:text="${form.kanjiName}">ＴＩＳ　太郎</p>

                                </td>
                            </tr>
                            <tr>
                                <td style="white-space: nowrap;">
                                    <label>お名前（カタカナ）</label>
                                </td>
                                <td>
                                    <p th:text="${form.kanaName}">ティーアイエス　タロウ</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>お名前（ローマ字）</label>
                                </td>
                                <td>
                                    <p th:text="${form.alphabetName}">TIS TAROU</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>性別</label>
                                </td>
                                <td>
                                    <p th:text="${form.gender}"></p>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <label>生年月日（半角）</label>
                                </td>
                                <td>
                                    <p th:text="${form.dateOfBirth}"></p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>郵便番号（半角）</label>
                                </td>
                                <td>
                                    <p th:text="${form.zipcode}">123-4567</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>ご住所（全角）</label>
                                </td>
                                <td>
                                    <p th:text="${form.address}">東京都新宿区西新宿８－１７－１</p>

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>自宅電話番号（半角）</label>
                                </td>
                                <td>
                                    <p th:text="${form.homePhoneNumber}">00-1111-2222</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>携帯電話番号（半角）</label>
                                </td>
                                <td>
                                    <p th:text="${form.mobilePhoneNumber}">080-0000-0000</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>メールアドレス（半角）</label>
                                </td>
                                <td>
                                    <p th:text="${form.emailAddress}">tiscon@example.com</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>配偶者有無</label>
                                </td>
                                <td>
                                    <p th:text="${form.married"}></p>

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>昨年の所得（半角）</label>
                                </td>
                                <td>
                                    <p th:text="|${form.income}万円|"></p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>ご職業</label>
                                </td>
                                <td>
                                    <p th:text="${form.job"}></p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>「その他 (有職）」を選んだ方は内容をご記入下さい（全角）</label>
                                </td>
                                <td>
                                    <p th:text="${form.otherJob}"></p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>過去5年以内に、病気やケガで7日間以上にわたって医師の診察・検査・治療・投薬をうけたことがありますか</label>
                                </td>
                                <td>
                                    <p th:text="${form.treated"></p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>「はい」 を選んだ方は内容をご記入下さい（全角）</label>
                                </td>
                                <td>
                                    <p th:text="${form.medicalHistory}"></p>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <div class="ui column grid">
                            <div class="eight wide column left aligned">
                                <!--/*戻る場合、formの送り先を強制的に書き換える*/-->
                                <button class="ui button angle left icon"
                                        onclick="form.action='/action/order/backToAccept';return true">戻る
                                </button>
                            </div>
                            <div class="eight wide column right aligned">
                                <button class="ui teal button angle right icon">次へ（お勤め先情報の入力）</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>